name: Get billing actions for enterprise

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # 9:00 JST

jobs:
  billing-actions-ent:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Get billing actions for enterprise
        id: billing-result
        env:
          ACCOUNT_NAME: ${{ vars.GH_ACCOUNT_ENT }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: sh ./script/get_billing_actions_for_ent.sh "$ACCOUNT"

      - name: Send Slack message
        uses: slackapi/slack-github-action@v1
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "GitHub Actions の利用状況"
                  }
                },
                { 
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "契約中プランの無料枠は `${{ steps.billing-result.outputs.included_minutes }}` 分です、当月の利用時間は `${{ steps.billing-result.outputs.total_minutes_used }}` 分です。課金対象の利用時間は `${{ steps.billing-result.outputs.total_paid_minutes_used }}` 分です。"
                  }
                }
              ]
            }
